# ============================================================
# Rename this file to:  .env
# Located at:  E:\restaurant-crm\.env
# ============================================================

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'rcm_session'
app.sessionExpiration = 7200
app.sessionSavePath = 'writable/session'
app.sessionMatchIP = false
app.sessionTimeToUpdate = 300
app.sessionRegenerateDestroy = false
app.encryptionKey = 'RestoCRM_2024_SecureKey_32Chars!'

#--------------------------------------------------------------------
# DATABASE — update with your MySQL credentials
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = restocrm
database.default.username = root
database.default.password = Sourav@15
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.charset  = utf8mb4
database.default.DBCollat = utf8mb4_general_ci
database.default.port     = 3306
